@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*{
    margin:0;
    padding:0;
}
body {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  height: 100vh;
  background: #24243f;
}
.main-div{
    margin-top: 67px;
   display: flex;
   /* border:2px solid white; */
  justify-content: center;
  align-items: center;  
}
.child-div{
margin-top: 11px;
color: #ebeb14;
font-size: 21px;
font-weight: 700;
}
.addItems{
    background-color:#fff;
    border-radius: 8px;
    display: flex;
    color: black;
    border:2px solid white;
    margin-top: 26px;
    margin-bottom: 26px;
}
#mypic{
    width:20%;
    cursor: default;
    margin-bottom: 14px;
}
figcaption {
    cursor: default;
}
#type{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 4px;
    font-size: 14px;
    margin-left:2px;
    font-weight: 600;
    color: #101318;
    /* background: transparent; */
    /* border-radius: 4px; */
    width: 275px;
    border:2px solid white;
}
input,
input:focus,
input:active,
input:active:focus {
  border: none;
  /* padding: 3.3rem 3.5rem; */
  outline: none;
}
input {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
input:focus {
  -webkit-box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
} 
#add{
    /* display: flex!important; */
    /* margin-left: 12px!important; */
    position: sticky;
    margin-top:16px!important;
    color: #1e1d38;
}
.btn1{
    background-color: yellow;
    margin-top: 27px!important;
    color: #1e1d38;
    cursor: pointer;
    border: 2px solid yellow;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 700;
    padding: 5px;
}
.showItems{
    margin-top:22px;
    text-align: center;
    background-color: #24243f;
}
.eachItem{
    padding: 0.1rem;
    margin-left: 0.1rem;
    word-break: break-word;
    font-size: 12px!important;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    margin-bottom: 6px;
    border:2px solid #24243f;
    background-color: #2a3068;
    color:white;
}
.eachItem:hover {
  background: #331cb8;
  color: #e7e2f3;
}
.eachItem h3{
    font-size: 12px!important;
    margin-left: 10px;
    margin-top:6px;
}
.fa-trash-alt,
.fa-edit {
  /* margin-left: -2.5rem; */
  margin-left: 27px;
  cursor: pointer;
  pointer-events: auto;
  z-index: 10;
  color: #bad9f8;
  -webkit-transition: color 0.15s linear;
  transition: color 0.15s linear;
  font-size: 13px;
}
.addItems .fa-edit {
  color: rgb(47, 214, 122);
}

.fa-edit {
  margin-left: 9.5rem;
}

.eachItem:hover .fa-trash-alt {
  color: #f54e5c;
}

.eachItem:hover .fa-edit {
  color: #acf78a;
}

/* .todo-btn {
    margin-left: 132px!important;
    margin-top:6px;
    align-items:flex-end;
    justify-content: flex-end;
    cursor: pointer;
    width: 5rem;
    display: flex;
    justify-content: space-around;
    justify-content: space-around;
    color:#8eccdf;
} */
#fix{
    margin-left: 18px;
    color:#f1eaea!important;
}


.btn {
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    max-width: 115px;
    padding: 1px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
  }
  .btn:hover {
    text-decoration: none;
  }
  
  .effect04 {
    --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
    display: var(--uismLinkDisplay);
    color: #dfdaec;
    font-size: 14px;
    padding: 1px;
    font-weight: 900;
    background-color: #1f7a96;
    outline: solid 1px #c9bcbc;
    position: relative;
    transition-duration: 0.4s;
    overflow: hidden;
  }
  
  .effect04::before,
  .effect04 span {
    margin: 0 auto;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    transition-duration: 0.4s;
  }
  
  .effect04:hover {
    background-color: #3451d3;
  }
  
  .effect04:hover span {
    -webkit-transform: translateY(-400%) scale(-0.1, 20);
    transform: translateY(-400%) scale(-0.1, 20);
  }
  
  .effect04::before {
    content: attr(data-sm-link-text);
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transform: translateY(500%) scale(-0.1, 20);
    transform: translateY(500%) scale(-0.1, 20);
  }
  
  .effect04:hover::before {
    letter-spacing: 0.05em;
    -webkit-transform: translateY(0) scale(1, 1);
    transform: translateY(0) scale(1, 1);
  }
  